* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #ebf2fa;
    text-align: center;
    line-height: 1.5;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    margin-top: 5px;
    background-color: #05668d;
    box-shadow: 0 -2px 2px -2px #a5be00;
}

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 0;
    background-color: #05668d;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.monuments {
    background: url('./images/monuments_cover.png') no-repeat center center;
    background-size: cover;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
.html5_icon {
    background: url('./images/html5_icon.png') no-repeat center center;
}
.javascript_icon {
    background: url('./images/javascript_icon.png') no-repeat center center;
}
.jquery_icon {
    background: url('./images/jquery_icon_3.png') no-repeat center center;
}
.react_icon {
    background: url('./images/react_icon.png') no-repeat center center;
}
.nodejs_icon {
    background: url('./images/nodejs_icon_3.png') no-repeat center center;
}

.stack_icon_li > a {
    display:block;
}

.java_icon {
    background: url('./images/java_icon.png') no-repeat center center;
}
.td3_logo {
    background: url('./images/td3_logo_white_blue_32x32.png') no-repeat left center;
    height: 32px;
    width: 32px;
}
.td3_logo:hover {
    background: url('./images/td3_logo_white_green_32x32.png') no-repeat left center;
    height: 32px;
    width: 32px;
}

.logo {
    flex: 1;
    display: flex;
    align-self: center;
    align-content: start;
    padding: 10px;
}

.hamburger {
    flex: 1;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding: 10px;
    color: #ebf2fa;
}

.fa-bars:hover {
    color: #427aa1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.main_header {
    margin-bottom: 5px;
    padding: 15% 20px 20px 20px;
    width: 100%;
    background-color: #ebf2fa;
    box-shadow: 0 2px 2px -2px #a5be00;
}

.main_header > p {
    color: #a5be00;
    /*text-shadow: .5px .5px #05668d;*/
}

.main_header > hr {
    color: #ffffff;
}

.main_header > p {
    color: #a5be00;
}

.main_header > p:first-of-type {
    font-size: 25px;
}

p > span {
    color: #427aa1;
    font-weight: bold;
}

.nav_panel {
    background: #427aa1;
    display: none;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 52px 0 1px 0;
}

.about {
    position: relative;
    height: 100%;
    width: 350px;
    text-align: left;
    padding: 50px 20px 5px 20px;
    margin: 5px;
    color: #05668d;
}

.about_title {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    padding: 15px 0 15px 0;
    width: 100%;

}
.about_title h1 {
    flex: 1;
    align-self: center;
}
.about_title > img {
    flex: 1;
    align-self: center;
    max-width: 150px;
    height: auto;
    /*margin: 5px 20px 5px 5px;;*/
    border: 1px solid #ebf2fa;
    border-radius: 50%;
}

.nav_button {
    padding: 15px;
    background-color: #427aa1;
    color: #ebf2fa;
    font-size: 16px;
    border: 0;
    text-transform: lowercase;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
}
.nav_social_ul, .about_social_ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.detail {
    display: flex;
    width: 100%;
}

.detail_content {
    width: 350px;
    text-align: left;
    color: #05668d;
    padding: 0 20px 0 20px;
}

.demo_ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.nav_social_li, .about_social_li, .demo_li {
    flex: 1;
    display: flex;
}

.about_social_li {
    padding: 15px;
}

.social_icon, .about_icon {
    flex: 1;
    color: #ebf2fa;
    cursor: pointer;
}

.about_icon, .demo_icon {
    flex: 1;
    color: #427aa1;
    cursor: pointer;
}

.demo_icon {
    padding: 15px;
}

.social_icon:hover, .about_icon:hover, .demo_icon:hover {
    color: #a5be00;
}

.social_link > a {
    align-self: center;
}

.nav_social_ul:hover {
    background-color: #05668d;
}

.nav_button:hover {
    color: #a5be00;
    background-color: #05668d;
}

.nav_ul:hover, .nav_social_ul:hover {
    background-color: #05668d;
}

.project > p:first-of-type {
    font-size: 20px;
}

.project:hover {
    box-shadow: 1px 1px 1px #a5be00;
}

.project_title {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0 25% 0 25%;
    background-color: #ffffff;
    border-bottom: 1px solid #ebf2fa;
    border-radius: 1px;
}

.stack_ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 25% 0 25%;
    background-color: #ffffff;
    border-top: 1px solid #ebf2fa;
    border-radius: 1px;
}

.detail_stack_ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    width: 100%;
    bottom: 0;
    padding: 0 5% 0 5%;
    background-color: #ffffff;
}

.stack_icon_li {
    flex: 1;
    display: flex;
    padding: 2px;
    align-items: center;
    align-self: center;
    min-height: 33px;
}

.detail > a {
    color: #05668d;
}

.detail_header {
    padding: 15% 0 0 0;
    width: 100%;
    background-color: #ebf2fa;
}

.detail_header > img {
    max-width: 100%;
    border: 1px solid #ebf2fa;
    border-radius: 5px;
}
.ph1 {
    text-align: left;
    width: 325px;
    padding: 20px 0 10px 0;
    /*margin: 5px;*/
    color: #05668d;
}

.project {
    position: relative;
    min-height: 200px;
    width: 325px;
    padding: 0;
    margin: 0 0 30px 0;
    color: #05668d;
    background-color: #ebf2fa;
    border: 1px #ebf2fa solid;
    border-radius: 5px;
    box-shadow: 1px 1px #ebf2fa;
}

@media only screen and (min-width: 525px) {
    .about {
        width: 500px;
    }

    .detail {
        width: 500px;
    }

    .detail_content{
        width: 500px;
    }

    .main_header {
        padding: 12% 20px 20px 20px;
    }

    .ph1 {
        width: 425px;
    }
    .project {
        width: 425px;
        min-height: 300px;
    }
    .about_title > img {
        max-width: 200px;
        margin-right: 15px;
    }
}

@media only screen and (min-width: 700px) {
    .main_header {
        padding: 5% 20px 20px 20px;
    }
}

