* {
    box-sizing: border-box;
    margin: 0 0 0 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

nav
 {
    padding: 1% 0;
    background-color: #aaa;
}

footer {
    margin-top: 5px;
    width: 100%;
    border-top: 1px #a9a9a9 solid;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-bottom: 5px;
    padding: 12%;
    width: 100%;
    background-color: #ddd;

}

header > p:first-of-type {
    font-size: 25px;
}

section > p:first-of-type {
    font-size: 20px;
}

section {
    position: relative;
    min-height: 200px;
    width: 350px;
    padding: 6% 0;
    margin: 5px;
    background-color: #bbb;
    border: 1px #ffffff;
    border-radius: 5px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 25% 0 25%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

li {
    flex: 1;
    display: flex;
    padding: 2px;
    align-items: center;
    align-self: center;
    min-height: 33px;
}
section:nth-child(even) {
    background-color: #ddd;
}
/*-------------------------------*/
/*  Icons  */
/*-------------------------------*/
.html5_icon {
    background-image: url('./images/html5_icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.javascript_icon {
    background-image: url('./images/javascript_icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.jquery_icon {
    background-image: url('./images/jquery_icon_3.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.react_icon {
    background-image: url('./images/react_icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.nodejs_icon {
    background-image: url('./images/nodejs_icon_3.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.linkedin_icon {
    background-image: url('./images/linkedin_icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.email_icon {
    background-image: url('./images/email_icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.github_icon {
    background-image: url('./images/github_icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.java_icon {
    background-image: url('./images/java_icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}
