* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #ebf2fa;
    text-align: center;
    line-height: 1.5;
}

footer {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    background-color: #05668d;
    /*border-top: 1px #a9a9a9 solid;*/
    box-shadow: 0 -2px 2px -2px #a5be00;
}

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 0;
    background-color: #05668d;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/*-------------------------------*/
/*  Icons And Images */
/*-------------------------------*/
.monuments {
    background: url('./images/monuments_cover.png') no-repeat center center;
    background-size: cover;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
.html5_icon {
    background: url('./images/html5_icon.png') no-repeat center center;
}
.javascript_icon {
    background: url('./images/javascript_icon.png') no-repeat center center;
}
.jquery_icon {
    background: url('./images/jquery_icon_3.png') no-repeat center center;
}
.react_icon {
    background: url('./images/react_icon.png') no-repeat center center;
}
.nodejs_icon {
    background: url('./images/nodejs_icon_3.png') no-repeat center center;
}
.linkedin_icon {
    background: url('./images/linkedin_icon_white.png') no-repeat center center;
}
.linkedin_icon:hover {
    background: url('./images/linkedin_icon_green.png') no-repeat center center;
}
.icon_li > a {
    display:block;
}
.email_icon {
    background: url('./images/email_icon_white.png') no-repeat center center;
}
.email_icon:hover {
    background: url('./images/email_icon_green.png') no-repeat center center;
}
.github_icon {
    background: url('./images/github_icon_white_round.png') no-repeat center center;
}
.github_icon:hover {
    background: url('./images/github_icon_green_round.png') no-repeat center center;
}
.java_icon {
    background: url('./images/java_icon.png') no-repeat center center;
}
.td3_logo {
    background: url('./images/td3_logo_white_blue_32x32.png') no-repeat left center;
    height: 32px;
    width: 32px;
}
.td3_logo:hover {
    background: url('./images/td3_logo_white_green_32x32.png') no-repeat left center;
    height: 32px;
    width: 32px;
}

.logo {
    flex: 1;
    display: flex;
    align-self: center;
    align-content: start;
    padding: 10px;
}

.hamburger {
    flex: 1;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding: 10px;
    color: #ebf2fa;
}

.fa-bars:hover {
    color: #427aa1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-bottom: 5px;
    padding: 15%;
    width: 100%;
    background-color: #ebf2fa;
    box-shadow: 0 2px 2px -2px #a5be00;
}

header > p {
    color: #a5be00;
    /*text-shadow: .5px .5px #05668d;*/
}

header > hr {
    color: #ffffff;
}

header > p {
    color: #a5be00;
}

header > p:first-of-type {
    font-size: 25px;
}

p > span {
    color: #427aa1;
    font-weight: bold;
}

.nav_panel {
    background: #427aa1;
    display: none;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 52px 0 1px 0;
}

.nav_button {
    padding: 15px;
    background-color: #427aa1;
    color: #ebf2fa;
    font-size: 16px;
    border: 0;
    text-transform: lowercase;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
}

.nav_ul {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: #427aa1;
    font-size: 16px;
    border: 0;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
}

.nav_button:hover {
    color: #a5be00;
    background-color: #05668d;
}

.nav_ul:hover {
    background-color: #05668d;
}

.project > p:first-of-type {
    font-size: 20px;
}



.project:hover {
    box-shadow: 1px 1px 1px #a5be00;
}

.stack_ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 25% 0 25%;
    background-color: #ffffff;
    border-top: 1px solid #ebf2fa;
    border-radius: 5px;
}

.icon_li {
    flex: 1;
    display: flex;
    padding: 2px;
    align-items: center;
    align-self: center;
    min-height: 33px;
}

.about {
    position: relative;
    min-height: 200px;
    width: 350px;
    text-align: left;
    padding: 5px;
    margin: 5px;
    color: #05668d;
}

.detail {
    position: relative;
    min-height: 200px;
    width: 350px;
    text-align: left;
    padding: 10px;
    margin: 5px;
    color: #05668d;
}

.ph1 {
    text-align: left;
    padding: 10px;
    margin: 5px;
    color: #05668d;
}


/*section:nth-child(even) {*/
    /*background-color: #679436;*/
/*}*/

.project {
    position: relative;
    min-height: 200px;
    width: 350px;
    padding: 0;
    margin: 5px;
    color: #05668d;
    background-color: #ebf2fa;
    border: 1px #ebf2fa solid;
    border-radius: 5px;
    box-shadow: 1px 1px #ebf2fa;
}
